* {
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* PAGINATION */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pagination-list {
  font-size: 25px;
  margin: 10px;
}

.active {
  background: #67e010;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 10px;
}
